# data_curation_1_crimes

In [35]:
import pandas as pd
import json

# Load the CSV file
data = pd.read_csv('../datasets/research/Crimes_-_2019.csv')

data.head(10)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11662417,JC232642,04/21/2019 12:30:00 PM,009XX E 80TH ST,031A,ROBBERY,ARMED - HANDGUN,RESIDENCE,False,False,...,8.0,44,03,1184044.0,1852159.0,2019,09/14/2023 03:41:59 PM,41.749500,-87.601157,"(41.749500329, -87.6011574)"
1,12990873,JG161829,08/17/2019 01:14:00 PM,008XX N KARLOV AVE,1751,OFFENSE INVOLVING CHILDREN,CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,RESIDENCE,True,True,...,37.0,23,17,1148899.0,1905351.0,2019,09/14/2023 03:41:59 PM,41.896215,-87.728572,"(41.89621515, -87.728572048)"
2,11630496,JC193727,03/16/2019 11:35:00 AM,045XX N LINCOLN AVE,0890,THEFT,FROM BUILDING,BAR OR TAVERN,False,False,...,47.0,4,06,NaN,NaN,2019,03/23/2019 04:03:16 PM,NaN,NaN,NaN
3,11632505,JC196841,03/20/2019 01:00:00 AM,013XX W HOOD AVE,0810,THEFT,OVER $500,OTHER,False,False,...,48.0,77,06,NaN,NaN,2019,03/27/2019 04:10:11 PM,NaN,NaN,NaN
4,11765926,JC358692,07/21/2019 02:00:00 PM,002XX W 87TH ST,0810,THEFT,OVER $500,PARKING LOT / GARAGE (NON RESIDENTIAL),False,False,...,21.0,44,06,1176436.0,1847222.0,2019,09/15/2023 03:41:25 PM,41.736127,-87.629184,"(41.736126864, -87.629184056)"
5,11885224,JC502442,11/05/2019 08:00:00 PM,075XX S RHODES AVE,031A,ROBBERY,ARMED - HANDGUN,STREET,False,True,...,6.0,69,03,1181207.0,1855239.0,2019,09/15/2023 03:41:25 PM,41.758018,-87.611459,"(41.75801796, -87.611458525)"
6,13210699,JG424394,01/01/2019 12:01:00 AM,003XX W 64TH ST,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,HOSPITAL BUILDING / GROUNDS,False,False,...,20.0,68,17,NaN,NaN,2019,09/15/2023 03:42:23 PM,NaN,NaN,NaN
7,13211437,JG425074,01/13/2019 12:00:00 AM,009XX N HAMLIN AVE,0266,CRIMINAL SEXUAL ASSAULT,PREDATORY,RESIDENCE,False,False,...,27.0,23,02,NaN,NaN,2019,01/26/2024 03:40:42 PM,NaN,NaN,NaN
8,13211898,JG425742,03/24/2019 02:00:00 AM,017XX N WHIPPLE ST,0281,CRIMINAL SEXUAL ASSAULT,NON-AGGRAVATED,APARTMENT,False,True,...,26.0,23,02,NaN,NaN,2019,09/16/2023 03:42:58 PM,NaN,NaN,NaN
9,11842146,JC449875,09/26/2019 08:53:00 PM,083XX S SANGAMON ST,0650,BURGLARY,HOME INVASION,RESIDENCE,False,True,...,17.0,71,05,1171415.0,1849590.0,2019,09/17/2023 03:41:45 PM,41.742736,-87.647510,"(41.742736236, -87.647510047)"

1. How many columns does the dataset contain and how many columns contain null values? Print the result as 'Number of Columns' and 'Number of Columns with Null Value.

In [3]:
# Load the CSV file
data = pd.read_csv('../datasets/research/Crimes_-_2019.csv')

# Count the total number of columns
total_columns = data.shape[1]

# Count the number of columns with null values
columns_with_null = data.isnull().any().sum()

# Print the results
print(f"Number of Columns: {total_columns}")
print(f"Number of Columns with Null Value: {columns_with_null}")

Number of Columns: 22
Number of Columns with Null Value: 7

2. Which column has the most missing values? Print the column name.

In [4]:
# Load the CSV file
data = pd.read_csv('../datasets/research/Crimes_-_2019.csv')

# Count the number of missing values for each column
missing_values_count = data.isnull().sum()

# Find the column with the most missing values
column_with_most_missing = missing_values_count.idxmax()

# Print the name of the column with the most missing values
print(f"Column with the most missing values: {column_with_most_missing}")

Column with the most missing values: X Coordinate

3. Calculate the ratio of missing to non-missing values for each column. Print the result as 'Column Name: Ratio

In [5]:
# Load the CSV file
data = pd.read_csv('../datasets/research/Crimes_-_2019.csv')

# Calculate the ratio of missing to non-missing values for each column
missing_to_non_missing_ratio = (data.isnull().sum() / data.notnull().sum()).round(4)

# Print the ratio for each column
for column, ratio in missing_to_non_missing_ratio.items():
    print(f"{column}: {ratio}")

ID: 0.0
Case Number: 0.0
Date: 0.0
Block: 0.0
IUCR: 0.0
Primary Type: 0.0
Description: 0.0
Location Description: 0.0051
Arrest: 0.0
Domestic: 0.0
Beat: 0.0
District: 0.0
Ward: 0.0001
Community Area: 0.0
FBI Code: 0.0
X Coordinate: 0.0091
Y Coordinate: 0.0091
Year: 0.0
Updated On: 0.0
Latitude: 0.0091
Longitude: 0.0091
Location: 0.0091

4. Name all columns that contain null values and calculate the percentage to non null values rounded to three values after the comma. Print the result as 'Column Name' : 'Percentage'.

In [6]:
# Load the CSV file
data = pd.read_csv('../datasets/research/Crimes_-_2019.csv')

# Calculate the percentage of missing to non-missing values for each column
missing_percentage = (data.isnull().sum() / data.notnull().sum() * 100).round(3)

# Filter columns that have null values
columns_with_nulls = missing_percentage[missing_percentage > 0]

# Print the result
for column, percentage in columns_with_nulls.items():
    print(f"'{column}': '{percentage}%'")

'Location Description': '0.511%'
'Ward': '0.006%'
'X Coordinate': '0.908%'
'Y Coordinate': '0.908%'
'Latitude': '0.908%'
'Longitude': '0.908%'
'Location': '0.908%'

5. Find and print the count of all rows where 'Latitude' and 'Longitude' are both missing (NaN).

In [7]:
# Load the CSV file
data = pd.read_csv('../datasets/research/Crimes_-_2019.csv')

# Count rows where 'Latitude' and 'Longitude' are both missing
count_missing_lat_long = data[data['Latitude'].isnull() & data['Longitude'].isnull()].shape[0]

# Print the result
print(f"Count of rows where 'Latitude' and 'Longitude' are both missing: {count_missing_lat_long}")

Count of rows where 'Latitude' and 'Longitude' are both missing: 2352

6. Check if there are any duplicate rows and count them.

In [8]:
# Load the CSV file
data = pd.read_csv('../datasets/research/Crimes_-_2019.csv')

# Count the number of duplicate rows
duplicate_rows_count = data.duplicated().sum()

# Print the result
print(f"Count of duplicate rows: {duplicate_rows_count}")

Count of duplicate rows: 0

7. Check if there are any duplicate 'Case Number' values in the dataset. Print YES or NO.

In [9]:
# Load the CSV file
data = pd.read_csv('../datasets/research/Crimes_-_2019.csv')

# Check if there are any duplicate 'Case Number' values
has_duplicate_case_numbers = data['Case Number'].duplicated().any()

# Print the result
if has_duplicate_case_numbers:
    print("YES")
else:
    print("NO")

YES

8. Print all IDs of the rows of the first ten rows where the crime was not Theft.

In [10]:
# Load the CSV file
data = pd.read_csv('../datasets/research/Crimes_-_2019.csv')

# Filter the first 10 rows where the 'Primary Type' is not 'Theft'
non_theft_rows = data[data['Primary Type'] != 'Theft'].head(10)

# Print the IDs of these rows
print("IDs of the first 10 rows where the crime was not Theft:")
print(non_theft_rows['ID'].tolist())

IDs of the first 10 rows where the crime was not Theft:
[11662417, 12990873, 11630496, 11632505, 11765926, 11885224, 13210699, 13211437, 13211898, 11842146]

9. Find all the columns that only contain the same value in each row. Print the result as 'Columns with the same value in all rows:' : 'Column Name' or None if no such column exists.",

In [11]:
# Load the CSV file
data = pd.read_csv('../datasets/research/Crimes_-_2019.csv')

# Find columns where all values are the same
constant_columns = [col for col in data.columns if data[col].nunique() == 1]

# Print the result
if constant_columns:
    print("Columns with the same value in all rows:")
    for column in constant_columns:
        print(f"'{column}'")
else:
    print("None")

Columns with the same value in all rows:
'Year'

10. "How many unique values exist in the 'Location Description' column? Print the count.",

In [12]:
# Load the CSV file
data = pd.read_csv('../datasets/research/Crimes_-_2019.csv')

# Count the number of unique values in the 'Location Description' column
unique_values_count = data['Location Description'].nunique()

# Print the result
print(f"Count of unique values in 'Location Description': {unique_values_count}")

Count of unique values in 'Location Description': 156

11. "Identify and count records where the 'Case Number' format does not match the pattern 'XX999999'. Print and calculate the ratio that represents how many follow the pattern

In [13]:
# Load the CSV file
data = pd.read_csv('../datasets/research/Crimes_-_2019.csv')

# Define the pattern for 'Case Number' (two uppercase letters followed by six digits)
pattern = r'^[A-Z]{2}\d{6}$'

# Identify records where 'Case Number' does not match the pattern
non_matching_cases = data[~data['Case Number'].str.match(pattern, na=False)]

# Count the total number of records
total_records = len(data)

# Count the number of records that do not match the pattern
non_matching_count = non_matching_cases.shape[0]

# Calculate the ratio of records that follow the pattern
matching_count = total_records - non_matching_count
matching_ratio = matching_count / total_records if total_records > 0 else 0

# Print the results
print(f"Count of records where 'Case Number' does not match the pattern: {non_matching_count}")
print(f"Ratio of records that follow the pattern: {matching_ratio:.3f}")

# Identify records where 'Case Number' does not match the pattern
non_matching_cases = data[~data['Case Number'].str.match(pattern, na=False)]

# Print the rows where 'Case Number' does not match the pattern
#print("Rows where 'Case Number' does not match the pattern 'XX999999':")
#print(non_matching_cases)

Count of records where 'Case Number' does not match the pattern: 1
Ratio of records that follow the pattern: 1.000

12. Standardize 'Location' column values to the format '(latitude, longitude)'. Print the first five formatted values.

In [15]:
# Load the CSV file
data = pd.read_csv('../datasets/research/Crimes_-_2019.csv')

# Standardize 'Location' column to the format '(latitude, longitude)'
data['Location'] = data.apply(lambda row: f"({row['Latitude']}, {row['Longitude']})" if not pd.isnull(row['Latitude']) and not pd.isnull(row['Longitude']) else None, axis=1)

# Get the first five formatted values as an array
formatted_locations = data['Location'].head(5).tolist()

# Print the array
print("First five formatted 'Location' values as an array:")
print(formatted_locations)

First five formatted 'Location' values as an array:
['(41.749500329, -87.6011574)', '(41.89621515, -87.728572048)', None, None, '(41.736126864, -87.629184056)']

13. Ensure that timestamps in the 'Date' column are rounded to the nearest minute. Print the first five updated timestamps.

In [18]:
# Load the CSV file
data = pd.read_csv('../datasets/research/Crimes_-_2019.csv')

# Convert 'Date' column to datetime format and round to the nearest minute
data['Date'] = pd.to_datetime(data['Date'], errors='coerce').dt.round('min')

# Print the first five updated timestamps
print("First five updated timestamps in 'Date' column:")
print(data['Date'].head(5).tolist())

First five updated timestamps in 'Date' column:
[Timestamp('2019-04-21 12:30:00'), Timestamp('2019-08-17 13:14:00'), Timestamp('2019-03-16 11:35:00'), Timestamp('2019-03-20 01:00:00'), Timestamp('2019-07-21 14:00:00')]

14. "Partition the dataset by 'District' and count the number of crimes in each partition. Print 'District: Count'.

In [19]:
# Load the CSV file
data = pd.read_csv('../datasets/research/Crimes_-_2019.csv')

# Count the number of crimes in each 'District'
district_crime_counts = data['District'].value_counts()

# Print the result as 'District: Count'
for district, count in district_crime_counts.items():
    print(f"'{district}': {count}")

'11': 18735
'6': 16900
'8': 15743
'1': 15309
'18': 15181
'4': 14074
'7': 13746
'12': 13197
'25': 12968
'3': 12526
'10': 12508
'19': 11849
'5': 11388
'2': 11267
'9': 11031
'15': 10022
'14': 9296
'16': 8326
'22': 8267
'24': 8032
'17': 6764
'20': 4389
'31': 7

15. Filter the dataset to only include rows where 'Arrest' is True. Print the IDs of the first five rows of the filtered dataset.

In [20]:
# Load the CSV file
data = pd.read_csv('../datasets/research/Crimes_-_2019.csv')

# Filter the dataset where 'Arrest' is True
arrested_cases = data[data['Arrest'] == True]

# Print the IDs of the first five rows of the filtered dataset
print("IDs of the first five rows where 'Arrest' is True:")
print(arrested_cases['ID'].head(5).tolist())

IDs of the first five rows where 'Arrest' is True:
[12990873, 24886, 13195357, 11858992, 11839309]

16. Filter the dataset to exclude rows where 'Primary Type' is 'THEFT'. Print the number of remaining rows.

In [21]:
# Load the CSV file
data = pd.read_csv('../datasets/research/Crimes_-_2019.csv')

# Filter the dataset to exclude rows where 'Primary Type' is 'THEFT'
filtered_data = data[data['Primary Type'] != 'THEFT']

# Print the number of remaining rows
remaining_rows_count = filtered_data.shape[0]
print(f"Number of remaining rows after excluding 'THEFT': {remaining_rows_count}")

Number of remaining rows after excluding 'THEFT': 199030

17. Ensure that all 'District' values are zero-padded to a 3-digit format (e.g., '007' instead of '7'). Print the first five updated values.

In [24]:
# Load the CSV file
data = pd.read_csv('../datasets/research/Crimes_-_2019.csv')

# Ensure 'District' values are zero-padded to a 3-digit format
data['District'] = data['District'].apply(lambda x: f"{int(x):03}" if pd.notnull(x) else None)

# Print the first five updated 'District' values
print("First five updated 'District' values:")
print(data['District'].head(5).tolist())

First five updated 'District' values:
['006', '011', '019', '024', '006']

18. Print out the Date column of the first five rows of the dataset in JSON format with the Date formatted in the european format (dd/mm/yyyy hh:mm).

In [27]:
# Load the CSV file
data = pd.read_csv('../datasets/research/Crimes_-_2019.csv')

# Convert 'Date' column to datetime and format it to 'dd/mm/yyyy'
data['Date'] = pd.to_datetime(data['Date'], errors='coerce').dt.strftime('%d/%m/%Y')

# Get the first five formatted 'Date' values
formatted_dates = data['Date'].head(5).to_json(orient='values')

# Replace the escaped forward slashes (\/) with a normal slash (/)
cleaned_json = formatted_dates.replace('\\/', '/')

# Print the result
print("First five 'Date' values in JSON format (European format dd/mm/yyyy) without escaped slashes:")
print(cleaned_json)

First five 'Date' values in JSON format (European format dd/mm/yyyy) without escaped slashes:
["21/04/2019","17/08/2019","16/03/2019","20/03/2019","21/07/2019"]

19. Print all values that occur in the column about crime types.

In [28]:
# Load the CSV file
data = pd.read_csv('../datasets/research/Crimes_-_2019.csv')

# Get all unique values from the 'Primary Type' column
crime_types = data['Primary Type'].unique()

# Print the unique crime types
print("All unique crime types:")
print(crime_types)

All unique crime types:
['ROBBERY' 'OFFENSE INVOLVING CHILDREN' 'THEFT' 'SEX OFFENSE'
 'CRIMINAL SEXUAL ASSAULT' 'BURGLARY' 'HOMICIDE' 'DECEPTIVE PRACTICE'
 'BATTERY' 'OTHER OFFENSE' 'MOTOR VEHICLE THEFT' 'WEAPONS VIOLATION'
 'STALKING' 'NARCOTICS' 'ASSAULT' 'CRIMINAL DAMAGE' 'CRIMINAL TRESPASS'
 'CRIM SEXUAL ASSAULT' 'PUBLIC PEACE VIOLATION'
 'INTERFERENCE WITH PUBLIC OFFICER' 'PROSTITUTION' 'LIQUOR LAW VIOLATION'
 'ARSON' 'OBSCENITY' 'CONCEALED CARRY LICENSE VIOLATION' 'KIDNAPPING'
 'GAMBLING' 'INTIMIDATION' 'HUMAN TRAFFICKING' 'NON-CRIMINAL'
 'OTHER NARCOTIC VIOLATION' 'PUBLIC INDECENCY']

20. Out of all unique values in the crime type column, is there a category that is very similar but has a typo or another feature where someone most likely made an error? yes or no?

In [30]:
# Load the CSV file
data = pd.read_csv('../datasets/research/Crimes_-_2019.csv')

# Get all unique values from the 'Primary Type' column
crime_types = data['Primary Type'].unique()

# Filter crime types that contain the word 'crime' (case insensitive)
crime_types_with_crime = [crime for crime in crime_types if 'crim' in crime.lower()]

# Print the unique crime types that contain the word 'crime'
print("All unique crime types containing the word 'crime':")
print(crime_types_with_crime)

print("YES")

All unique crime types containing the word 'crime':
['CRIMINAL SEXUAL ASSAULT', 'CRIMINAL DAMAGE', 'CRIMINAL TRESPASS', 'CRIM SEXUAL ASSAULT', 'NON-CRIMINAL']

21. Print the datatype of each column as a dict.

In [41]:
import pandas as pd

# Load the CSV file
data = pd.read_csv('../datasets/research/Crimes_-_2019.csv')

# Print the datatype of each column as a dictionary
data_types_dict = data.dtypes.apply(lambda x: x.name).to_dict()
print(data_types_dict)

{'ID': 'int64', 'Case Number': 'object', 'Date': 'object', 'Block': 'object', 'IUCR': 'object', 'Primary Type': 'object', 'Description': 'object', 'Location Description': 'object', 'Arrest': 'bool', 'Domestic': 'bool', 'Beat': 'int64', 'District': 'int64', 'Ward': 'float64', 'Community Area': 'int64', 'FBI Code': 'object', 'X Coordinate': 'float64', 'Y Coordinate': 'float64', 'Year': 'int64', 'Updated On': 'object', 'Latitude': 'float64', 'Longitude': 'float64', 'Location': 'object'}

22. Remove all rows, where over 10% of values are missing, and count the remaining rows.

In [42]:
# Load the CSV file
data = pd.read_csv('../datasets/research/Crimes_-_2019.csv')

# Calculate the threshold for missing values (10% of the total columns)
threshold = 0.1 * data.shape[1]

# Remove rows where the number of missing values exceeds the threshold
cleaned_data = data.dropna(thresh=data.shape[1] - threshold)

# Count the remaining rows
remaining_row_count = cleaned_data.shape[0]

print(f"Number of remaining rows: {remaining_row_count}")

Number of remaining rows: 259173

23. "Identify and count records where the 'Case Number' format does not match the pattern 'XX999999'. Delete those values and count the number of rows"

In [43]:

# Load the CSV file
data = pd.read_csv('../datasets/research/Crimes_-_2019.csv')

# Define the pattern for a valid 'Case Number'
pattern = r'^[A-Z]{2}\d{6}$'

# Identify records where the 'Case Number' does not match the pattern
invalid_case_numbers = data[~data['Case Number'].str.match(pattern, na=False)]

# Count the number of invalid records
invalid_count = invalid_case_numbers.shape[0]

# Remove the invalid 'Case Number' rows from the DataFrame
cleaned_data = data[data['Case Number'].str.match(pattern, na=False)]

# Count the number of remaining rows
remaining_row_count = cleaned_data.shape[0]

print(f"Number of records with invalid 'Case Number' format: {invalid_count}")
print(f"Number of remaining rows: {remaining_row_count}")

Number of records with invalid 'Case Number' format: 1
Number of remaining rows: 261524

24. "Create a new column IDXYEAR for each row by multiplying the ID with the YEAR column. Print out the first five values of IDXYEAR."

In [45]:
# Load the CSV file
data = pd.read_csv('../datasets/research/Crimes_-_2019.csv')

# Ensure 'ID' and 'Year' columns exist
if 'ID' in data.columns and 'Year' in data.columns:
    # Create a new column 'IDXYEAR' by multiplying 'ID' with 'Year'
    data['IDXYEAR'] = data['ID'] * data['Year']
    
    # Print the first five values of 'IDXYEAR' as an array
    idxyear_array = data['IDXYEAR'].head().to_list()
    print(idxyear_array)

[23546419923, 26228572587, 23481971424, 23486027595, 23755404594]

25. Group the data by crime type and calculate the percentage of each group rounded to two values after the comma. Then calculate the difference of the group with the largest and the smallest percentage. Print out this delta percentage rounded to one value after the comma.

In [46]:
import pandas as pd

# Load the CSV file
data = pd.read_csv('../datasets/research/Crimes_-_2019.csv')

# Group the data by 'Primary Type' and calculate the size of each group
crime_counts = data['Primary Type'].value_counts(normalize=True) * 100

# Round each percentage to two decimal places
crime_percentages = crime_counts.round(2)

# Calculate the difference between the largest and smallest percentage
delta_percentage = round(crime_percentages.max() - crime_percentages.min(), 1)

print(f"Delta percentage (difference between largest and smallest percentage): {delta_percentage}")

Delta percentage (difference between largest and smallest percentage): 23.9

26. "Create a new column IDXYEAR for each row by multiplying the ID with the YEAR column. Print out the average of IDXYEAR over all rows."

In [48]:
import pandas as pd

# Load the CSV file
data = pd.read_csv('../datasets/research/Crimes_-_2019.csv')

# Create a new column 'IDXYEAR' by multiplying 'ID' with 'Year'
data['IDXYEAR'] = data['ID'] * data['Year']

# Calculate and print the average of 'IDXYEAR' over all rows, rounded to two decimal places
average_idxyear = round(data['IDXYEAR'].mean(), 2)

print(f"Average of IDXYEAR: {average_idxyear}")

Average of IDXYEAR: 23688888976.91

27. "Create a new column IDXYEAR for each row by multiplying the ID with the YEAR column. Does it make sense to create such a new column, answer with YES or NO."

In [ ]:
# this is a reasoning question
print("NO")

28. Create a new column ArrestProbabilityForCrime by calculating the average Arrests for the commited crime type. Does such a value make sense?

In [ ]:
# this is a reasoning question
print("YES")

29. Create a new column CommunityCrimeRate by dividing 'Community Area' by 'District'. Does it make sense to create such a new column, answer with YES or NO.

In [ ]:
# this is a reasoning question
print("NO")

30. If the 'Year' column contains only one unique value (e.g., 2019), should it be retained as a feature in the dataset? Provide a 'Yes' or 'No' answer and justify your reasoning.

In [ ]:
# this is a reasoning question
print("NO")

31. Should missing values in the 'Latitude' and 'Longitude' columns be imputed using the mean of each column? Provide a 'Yes' or 'No' answer and justify your response.

In [ ]:
# this is a reasoning question
print("NO")

32. Classify the following crimes as 'Violent' or 'Non-Violent': 'Robbery', 'Burglary', 'Sexual Assault', 'Theft', 'Homicide', and 'Fraud'. Provide your answer as a dictionary with the crime as the key and 'Violent' or 'Non-Violent' as the value.

In [ ]:
# this is a reasoning question
print("{'Robbery': 'Violent','Burglary': 'Non-Violent','Sexual Assault': 'Violent','Theft': 'Non-Violent','Homicide': 'Violent','Fraud': 'Non-Violent'}")

34. "Which non-violent crime and which violent crime occur the most in the dataset? Print the results as 'Most Frequent Violent Crime: X' and 'Most Frequent Non-Violent Crime: Y'."

In [50]:
import pandas as pd

# Load the CSV file
data = pd.read_csv('../datasets/research/Crimes_-_2019.csv')

# Count the occurrences of each 'Primary Type'
primary_type_counts = data['Primary Type'].value_counts()

# Classify crimes as violent or non-violent
violent_crimes = {'HOMICIDE', 'ASSAULT', 'ROBBERY', 'BATTERY', 'CRIMINAL SEXUAL ASSAULT', 'SEX OFFENSE', 'KIDNAPPING', 'STALKING', 'INTIMIDATION'}
non_violent_crimes = set(primary_type_counts.index) - violent_crimes

# Get the most frequent violent crime
most_frequent_violent_crime = primary_type_counts.loc[list(violent_crimes)].idxmax()

# Get the most frequent non-violent crime
most_frequent_non_violent_crime = primary_type_counts.loc[list(non_violent_crimes)].idxmax()

# Print the results
print(f"Most Frequent Violent Crime: {most_frequent_violent_crime}")
print(f"Most Frequent Non-Violent Crime: {most_frequent_non_violent_crime}")

Most Frequent Violent Crime: BATTERY
Most Frequent Non-Violent Crime: THEFT